<div class="modal-header">
    <h1>Group</h1>
</div>
<table class="table-modal-body">	
	<tr>
		<td>Name : </td>
		<td><input ng-model="formGroup.name" /></td>
	</tr>
	<tr>
		<td>Permissions : </td>
		<td>
			<label ng-repeat="permission in formGroup.permissions">
				<input type="checkbox" name="formGroup.permissions[]" value="permission.name" ng-checked="permission.isPermitted" ng-model="permission.isPermitted" />
				<span>{{permission.name}}</span>
			</label>
		</td>
	</tr>
</table>
<div class="modal-footer">
	<button ng-click="saveDialog(formContact)" class="btn btn-primary">Save</button>
    <button ng-click="closeDialog()" class="btn btn-primary" >Close</button>
</div>