.repeat-animation.ng-enter,
.repeat-animation.ng-leave {
  -webkit-transition:0.5s linear all;
  transition:0.5s linear all;
}

.repeat-animation.ng-enter,
.repeat-animation.ng-leave.ng-leave-active {
  opacity:0;
}
.repeat-animation.ng-leave,
.repeat-animation.ng-enter.ng-enter-active {
  opacity:1;
}

.show-hide-animation {
  -webkit-transition:0.25s linear all;
  transition:0.25s linear all;
}

.show-hide-animation.ng-hide-add,
.show-hide-animation.ng-hide-remove {
  display:block!important;
}

.show-hide-animation.ng-hide {
  opacity:0;
}

.view-animation {
  padding:10px;
}

.view-animation.ng-enter, .view-animation.ng-leave {
  -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.75s;
  transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.75s;

  display:block;
  width:100%;

  position:absolute;
  top:auto;
  left:auto;
  right:auto;
  bottom:auto;
  padding:10px;
}

.view-animation.ng-enter {
  left:100%;
}
.view-animation.ng-enter.ng-enter-active {
  left:0;
}
.view-animation.ng-leave.ng-leave-active {
  left:-100%;
}