<div class="modal-header">
    <h1>Employee</h1>
</div>
<div class="modal-body">
    <p>title: <select ng-model="formEmployee.title"  ng-options="title.label for title in employeeTitleList" required></select></p>
    <p>first name: <input ng-model="formEmployee.first_name" required/></p>
    <p>last name: <input ng-model="formEmployee.last_name" required/></p>
    <p>sex: <select ng-model="formEmployee.sex" ng-options="sex.label for sex in employeeSexList" required></select></p>
    <p>country: <select ng-model="formEmployee.country" ng-options="country.label for country in employeeCountryList" required></select></p>
    <p>
        date of birth: {{formEmployee.date_of_birth_dateformat | date:'fullDate' }}
        <button ng-click="showDobCalendar = !showDobCalendar" class="btn btn-mini"><i class="icon-calendar"></i></button>
        <div ng-show="showDobCalendar">
            <datepicker ng-model="formEmployee.date_of_birth_dateformat" starting-day="1" show-weeks="0"></datepicker>
        </div>
    </p>
    <p>
        id:
        <select ng-model="formEmployee.employee_identity_doc[0].identity_doc_type"
                ng-options="identity_doc.label for identity_doc in employeeIdentityDocTypeList" required>
        </select>
        <input ng-model="formEmployee.employee_identity_doc[0].identity_doc_number" required/>
        <input type="file" ng-model="formEmployee.employee_identity_doc[0].employee_identity_doc_image" required/>
    </p>
    <p>
        documents:
        <select ng-model="formEmployee.employee_doc[0].doc_type"
                ng-options="doc_type.label for doc_type in employeeDocTypeList" required>
        </select>
        <input type="file" ng-model="formEmployee.employee_doc[0].employee_doc_image" required/>
    </p>  
    <p>mobile phone: <input ng-model="formEmployee.mobile_phone_number" required/></p> 
    <p>school: <input ng-model="formEmployee.school" /></p> 
    <p>join date: <input ng-model="formEmployee.join_date" required/></p> 
    <p>race: <select ng-model="formEmployee.race" ng-options="race.label for race in employeeRaceList" required></select></p>
    <p>status: <select ng-model="formEmployee.status" ng-selected="employeeStatus" ng-options="status.label for status in employeeStatusList" required></select></p>
    <p>work pass type: <select ng-model="formEmployee.work_pass_type" ng-options="work_pass_type.label for work_pass_type in employeeWorkPassTypeList"></select></p>
<!--    <ul>
        <li ng-repeat="color in document_">
          Name: <input ng-model="color.name">
          [<a href ng-click="colors.splice($index, 1)">X</a>]
        </li>
        <li>
          [<a href ng-click="colors.push({})">add</a>]
        </li>
    </ul>-->
</div>
<div class="modal-footer">
    <button ng-click="saveDialog()" class="btn btn-primary">Save</button>
    <button ng-click="closeDialog()" class="btn btn-primary">Close</button>
</div>