<p>
    <label for="country">Sex:&nbsp;</label>{{(employeeStaticLabels.sex | filter:employee.sex_id)[0].label}}
</p>
<p>
    <label for="country">Country:&nbsp;</label>{{(countries | filter:employee.country_code)[0].label}}
</p>
<p>
    <label for="date_of_birth">Date of birth:&nbsp;</label>{{employee.date_of_birth | stringDate:"yyyy MMM dd"}}
</p>
<p>
    <label for="mobile_phone_number">Phone:&nbsp;</label>{{employee.mobile_phone_number}}
</p>
<p>
    <label for="school">School:&nbsp;</label>{{(employeeStaticLabels.school | filter:employee.school_id)[0].label}}
</p>
<p>
    <label for="join_date">Join date:&nbsp;</label>{{employee.join_date | stringDate:"yyyy MMM dd"}}
</p>
<p>
    <label for="race">Race:&nbsp;</label>{{(employeeStaticLabels.race | filter:employee.race_id)[0].label}}
</p>
<p>
    <label for="status">Status:&nbsp;</label>{{(employeeStaticLabels.status | filter:employee.status_id)[0].label}}
</p>
<p>
    <label for="work_pass_type">Work pass:&nbsp;</label>{{(employeeStaticLabels.work_pass_type | filter:employee.work_pass_type_id)[0].label}}
</p>
<p>
    <label for="employee_contact">Employee emergency contact:&nbsp;</label>
    <ul>
        <li ng-repeat="employee_contact_unit in employee.employee_contact">
            <p>
                {{(employeeStaticLabels.title | filter:employee_contact_unit.title_id)[0].label}}
                {{employee_contact_unit.last_name}}
                {{employee_contact_unit.first_name}}
                ({{employee_contact_unit.mobile_phone_number}})
            </p>
        </li>
    </ul>
</p>
<p>
    <label for="employee_docs">Employee documents</label>
    <ul>
        <li ng-repeat="employee_doc_unit in employee.employee_doc">
            <p>
            <img ng-if="employee_doc_unit.image_name != null" ng-src="http://dev.sentinelb.com/images/employee_docs/{{employee_doc_unit.image_name}}" /> {{(employeeStaticLabels['doc_type'] | filter:employee_doc_unit.doc_type_id)[0].label}}
            </p>
        </li>
    </ul>
</p>
<p>
    <label for="employee_identity_docs">Employee identity documents</label>
    <ul>
        <li ng-repeat="employee_identity_doc_unit in employee.employee_identity_doc">
            <p>
            <img ng-if="employee_identity_doc_unit.image_name != null"  ng-src="http://dev.sentinelb.com/images/employee_identity_docs/{{employee_identity_doc_unit.image_name}}" />
            {{(employeeStaticLabels['identity_doc_type'] | filter:employee_identity_doc_unit.identity_doc_type_id)[0].label}}:
            {{employee_identity_doc_unit.identity_doc_number}}
            ({{employee_identity_doc_unit.identity_doc_validity_start  | stringDate:"yyyy MMM dd"}} - {{employee_identity_doc_unit.identity_doc_validity_end | stringDate:"yyyy MMM dd"}})
            </p>
        </li>
    </ul>
</p>
<p>
    <div class="btn-group button-edit">
        <button type="button" class="btn btn-primary btn-xs" ng-click="editEmployee()"><i class="fa fa-edit fa-fw"></i> </button>
        <button type="button" class="btn btn-danger btn-xs" ng-click="deleteEmployee()"><i class="fa fa-trash-o fa-fw"></i> </button>
    </div>
</p>
