<form class="form-horizontal">
<fieldset>

<!-- Form Name -->
<legend>Search</legend>

<!-- Search input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="last_name">Last name</label>
  <div class="col-md-4">
    <input id="last_name" name="last_name" type="search" placeholder="Last name" class="form-control input-md">
    <p class="help-block">Last name</p>
  </div>
</div>

<!-- Search input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="identity_doc_number">Identity doc number</label>
  <div class="col-md-4">
    <input id="identity_doc_number" name="identity_doc_number" type="search" placeholder="Identity doc number" class="form-control input-md">
    <p class="help-block">example: nric or passport</p>
  </div>
</div>

<!-- Select Multiple -->
<div class="form-group">
  <label class="col-md-4 control-label" for="work_pass_type_id">Work pass type</label>
  <div class="col-md-4">
    <select id="work_pass_type_id" name="work_pass_type_id" class="form-control" multiple="multiple">
      <option value="1">Option one</option>
      <option value="2">Option two</option>
    </select>
  </div>
</div>

<!-- Select Multiple -->
<div class="form-group">
  <label class="col-md-4 control-label" for="race_id">race</label>
  <div class="col-md-4">
    <select id="race_id" name="race_id" class="form-control" multiple="multiple">
      <option value="1">Option one</option>
      <option value="2">Option two</option>
    </select>
  </div>
</div>

<!-- Select Basic -->
<div class="form-group">
  <label class="col-md-4 control-label" for="sex_id">Sex</label>
  <div class="col-md-4">
    <select id="sex_id" name="sex_id" class="form-control">
      <option value="1">Option one</option>
      <option value="2">Option two</option>
    </select>
  </div>
</div>

<!-- Select Basic -->
<div class="form-group">
  <label class="col-md-4 control-label" for="age_min">Age min</label>
  <div class="col-md-4">
    <select id="age_min" name="age_min" class="form-control">
      <option value="1">Option one</option>
      <option value="2">Option two</option>
    </select>
  </div>
</div>

<!-- Select Basic -->
<div class="form-group">
  <label class="col-md-4 control-label" for="age_max">Age max</label>
  <div class="col-md-4">
    <select id="age_max" name="age_max" class="form-control">
      <option value="1">Option one</option>
      <option value="2">Option two</option>
    </select>
  </div>
</div>

</fieldset>
</form>
