<p>
    <label class="sr-only" for="country">Country</label>
    <select id="country" ng-model="employee.country_code" ng-options="country.code as country.label for country in countries"></select>
</p>
<p>
    <label class="sr-only" for="date_of_birth">Date of birth</label>
    <input type="date" id="date_of_birth" ng-model="employee.date_of_birth" />
</p>
<p>
    <label class="sr-only" for="mobile_phone_number">Phone</label>
    <input type="tel" id="mobile_phone_number" ng-model="employee.mobile_phone_number" />
</p>
<p>
    <label class="sr-only" for="school">School</label>
    <input type="text" id="school" ng-model="employee.school" />
</p>
<p>
    <label class="sr-only" for="join_date">Join date</label>
    <input type="text" id="school" ng-model="employee.join_date" />
</p>
<p>
    <label class="sr-only" for="race">Race</label>
    <select id="race" ng-model="employee.race_id" ng-options="race.id as race.label for race in employeeStaticLabels['race']"></select>
</p>
<p>
    <label class="sr-only" for="status">Status</label>
    <select id="status" ng-model="employee.status_id" ng-options="status.id as status.label for status in employeeStaticLabels['status']"></select>
</p>
<p>
    <label class="sr-only" for="work_pass_type">Work pass</label>
    <select id="work_pass_type" ng-model="employee.work_pass_type_id" ng-options="work_pass_type.id as work_pass_type.label for work_pass_type in employeeStaticLabels['work_pass_type']"></select>
</p>
<p>
    Employee documents
    <ul>
        <li ng-repeat="employee_doc_unit in employee.employee_doc">
            <p>
            <img ng-if="employee_doc_unit.image_name != null" ng-src="http://dev.sentinelb.com/images/employee_docs/{{employee_doc_unit.image_name}}" /> {{(employeeStaticLabels['doc_type'] | filter:employee_doc_unit.doc_type_id)[0].label}}
            </p>
        </li>
    </ul>
</p>
<p>
    Employee identity documents
    <ul>
        <li ng-repeat="employee_identity_doc_unit in employee.employee_identity_doc">
            <p>
            <img ng-if="employee_identity_doc_unit.image_name != null"  ng-src="http://dev.sentinelb.com/images/employee_identity_docs/{{employee_identity_doc_unit.image_name}}" />
            {{(employeeStaticLabels['identity_doc_type'] | filter:employee_identity_doc_unit.identity_doc_type_id)[0].label}}:
            {{employee_identity_doc_unit.identity_doc_number}}
            ({{employee_identity_doc_unit.identity_doc_validity_start}} - {{employee_identity_doc_unit.identity_doc_validity_end}})
            </p>
        </li>
    </ul>
</p>
<p>
    <div class="btn-group button-edit">
        <button type="button" class="btn btn-primary btn-xs" ng-click="editEmployee()"><i class="fa fa-edit fa-fw"></i> Edit</button>
        <button type="button" class="btn btn-primary btn-xs" ng-click="deleteEmployee()"><i class="fa fa-trash-o fa-fw"></i></button>
    </div>
</p>
