        <table class="table table-condensed">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Sex</th>
                    <th>Country</th>
                    <th>D.O.B</th>
                    <th>Mobile</th>
                    <th>school</th>
                    <th>Joined</th>
                    <th>Race</th>
                    <th>Status</th>
                    <th>Pass</th>
                    <th>&nbsp;</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="employee in employees">
                    <td>{{employee.id}}</td>
                    <td >{{(employeeStaticLabels['title'] | filter:employee.title_id)[0].label}} {{employee.first_name}} {{employee.last_name}}</td>
                    <td>{{(employeeStaticLabels['sex'] | filter:employee.sex_id)[0].label}}</td>
                    <td>{{employee.country_code}}</td>
                    <td>{{employee.date_of_birth | date:'yyyy/MM/dd'}}</td>
                    <td>{{employee.mobile_phone_number}}</td>
                    <td>{{employee.school}}</td>
                    <td>{{employee.join_date}}</td>
                    <td>{{(employeeStaticLabels['race'] | filter:employee.race_id)[0].label}}</td>
                    <td>{{(employeeStaticLabels['status'] | filter:employee.status_id)[0].label}}</td>
                    <td>{{(employeeStaticLabels['work_pass_type'] | filter:employee.work_pass_type_id)[0].label}}</td>
                    <td><button type="button" class="btn btn-primary btn-xs">Details</button>
                    <a class="btn btn-danger btn-xs" href="#"><i class="fa fa-ban"></i> Ban</a>
                </tr>
            </tbody>
        </table>
