<div class="panel panel-default" ng-controller="DepartmentsCtrl">
	<div class="panel-heading">
		{{employer.name}}'s Departments
		<button type="button" class="btn btn-primary btn-xs" ng-click="editDepartment()"><i class="fa fa-plus fa-fw"></i> New Root</button>
		<div class="pull-right">
			{{departmentTree.currentNode.label}} is selected 
			<div class="btn-group">
				<button type="button" class="btn btn-primary btn-xs {{detailReady}}" data-toggle="collapse" data-target="#collapseNewDepartment{{employer.id}}"><i class="fa fa-info-circle fa-fw"></i> Detail</button>
	            <button type="button" class="btn btn-primary btn-xs dropdown-toggle" data-toggle="dropdown">
	                <span class="caret"></span>
	                <span class="sr-only">Toggle Dropdown</span>
	            </button>
	            <ul class="dropdown-menu" role="menu">
	                <li ng-click="newSubdepartment()"><a><i class="fa fa-plus fa-fw"></i> New Subdepartment</a></li>
	            </ul>
            </div>
		</div>
	</div>
	<div class="panel-body">
		<div class="panel panel-info collapse" id="collapseNewDepartment{{employer.id}}">
			<div class="panel-heading">{{departmentTree.currentNode.label}}'s Detail</div>
			<div class="panel-body">
				<table class="table">
		            <thead>
			            <tr>            
			                <th>Label</th>
			                <th>Description</th>
			                <th>Work Type</th>
			                <th>Employee Hourly Rate</th>
			                <th>Employee Hourly Rate Currency</th>
			                <th>Employer Hourly Rate</th>
			                <th>Employer Hourly Rate Currency</th>
			                <th>Actions</th>
			            </tr>
		            </thead>
		            <tbody>
		                <tr>
		                    <td><div edit-input-text value="selectedDepartment.label" edit-form="editForm"></td>
		                    <td><div edit-input-text value="selectedDepartment.description" edit-form="editForm"></div></td>
		                    <td><div edit-input-code code="selectedDepartment.work_type" ng-model-labels="departmentStaticLabels['work_type']" edit-form="editForm"></div></td>
		                    <td><div edit-input-text value="selectedDepartment.employee_hourly_rate" edit-form="editForm"></div></td>
		                    <td><div edit-input-code code="selectedDepartment.employee_hourly_rate_currency" ng-model-labels="currencyIsoLabels" edit-form="editForm"></div></td>
		                    <td><div edit-input-text value="selectedDepartment.employer_hourly_rate" edit-form="editForm"></div></td>
		                    <td><div edit-input-code code="selectedDepartment.employer_hourly_rate_currency" ng-model-labels="currencyIsoLabels" edit-form="editForm"></div></td>
		                    <!-- action buttons -->
		                    <td class="btn-toolbar">
		                        <div ng-hide="editForm" class="btn-group">
		                            <button type="button" class="btn btn-primary btn-xs" ng-click="editDepartment()"><i class="fa fa-edit fa-fw"></i> Edit</button>
		                            <button type="button" class="btn btn-primary btn-xs dropdown-toggle" data-toggle="dropdown">
		                                <span class="caret"></span>
		                                <span class="sr-only">Toggle Dropdown</span>
		                            </button>
		                            <ul class="dropdown-menu" role="menu">
		                                <li ng-click="deleteDepartment()"><a><i class="fa fa-trash-o fa-fw"></i> Delete</a></li>
		                            </ul>
		                        </div>
		                        <div ng-show="editForm" class="btn-group">
		                            <button type="button" class="btn btn-success btn-xs" ng-click="saveDepartment()"><i class="fa fa-save fa-fw"></i> Save</button>
		                            <button type="button" class="btn btn-default btn-xs" ng-click="cancelEditDepartment()"><i class="fa fa-ban fa-fw"></i>Cancel</button>
		                        </div>
		                    </td>
		                </tr>
		            </tbody>
		        </table>
			</div>
		</div>
		<div
		    data-angular-treeview="true"
		    data-tree-id="departmentTree"
		    data-tree-model="departments"
		    data-node-id="id"
		    data-node-label="label"
		    data-node-children="children" >
		</div>
	</div>
</div>