<div class="panel panel-default" ng-controller="DepartmentsCtrl">
	<div class="panel-heading">
		{{employer.name}}'s Departments
		<button type="button" class="btn btn-primary btn-xs" ng-click="editDepartment()"><i class="fa fa-plus fa-fw"></i> New Root</button>
		<div class="pull-right">
			{{selectedDepartment.label}} is selected 
			<div class="btn-group">
				<button type="button" class="btn btn-primary btn-xs" ng-click="editDepartment()"><i class="fa fa-edit fa-fw"></i> Edit</button>
	            <button type="button" class="btn btn-primary btn-xs dropdown-toggle" data-toggle="dropdown">
	                <span class="caret"></span>
	                <span class="sr-only">Toggle Dropdown</span>
	            </button>
	            <ul class="dropdown-menu" role="menu">
	                <li ng-click="deleteDepartment()"><a><i class="fa fa-trash-o fa-fw"></i> Delete</a></li>
	            </ul>
            </div>
		</div>
	</div>
	<div
	    data-angular-treeview="true"
	    data-tree-id="departmentTree"
	    data-tree-model="departments"
	    data-node-id="id"
	    data-node-label="label"
	    data-node-children="children" >
	</div>
</div>