<div class="panel panel-info" ng-controller="ContactsCtrl">
    <div class="panel-heading">
        {{employer.name}}'s Contacts
        <button access-level="['add_employer_contact']" type="button" class="btn btn-primary btn-xs" ng-click="newContact()"><i class="fa fa-plus fa-fw"></i> New</button>
    </div>
    <div class="panel panel-primary collapse" id="collapseNewContact{{employer.id}}">
        <div class="panel-heading">New Contact</div>
        <div class="panel-body">
            <table class="table">
                <thead>
                    <tr>            
                        <th>Title</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Sex</th>
                        <th>Mobile Phone</th>
                        <th>Primary Contact</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><edit-input-select uniq-id-value="createdContact.title_id" ng-model="createdContact.title"  model-ref-type="title" model-ref-resource="contactStaticLabelsResource" edit-form="true"></edit-input-select></td>
                        <td><div edit-input-text value="createdContact.first_name" edit-form="true"></div></td>
                        <td><div edit-input-text value="createdContact.last_name" edit-form="true"></div></td>
                        <td><edit-input-select uniq-id-value="createdContact.sex_id" ng-model="createdContact.sex"  model-ref-type="sex" model-ref-resource="contactStaticLabelsResource" edit-form="true"></edit-input-select></td>
                        <td><div edit-input-text value="createdContact.mobile_phone_number" edit-form="true"></div></td>
                        <td><div edit-input-check value="createdContact.primary_contact" edit-form="true"></div></td>
                        <td class="btn-group">
                            <button type="button" class="btn btn-success btn-xs" ng-click="saveContact()"><i class="fa fa-save fa-fw"></i> Save</button>
                            <button type="button" class="btn btn-default btn-xs" ng-click="closeNewContact()"><i class="fa fa-ban fa-fw"></i>Cancel</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <table class="table" ng-show="contactsLazyloadFactory.contacts.length">
        <thead>
            <tr>            
                <th>Title</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Sex</th>
                <th>Mobile Phone</th>
                <th>Primary Contact</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="contact in contactsLazyloadFactory.contacts" ng-controller="ContactCtrl" class="repeat-animation">
                <td><edit-input-select uniq-id-value="contact.title_id" ng-model="contact.title"  model-ref-type="title" model-ref-resource="contactStaticLabelsResource" edit-form="editForm"></edit-input-select></td>
                <td><edit-input-text value="contact.first_name" edit-form="editForm"></edit-input-text></td>
                <td><edit-input-text value="contact.last_name" edit-form="editForm"></edit-input-text></td>
                <td><edit-input-select uniq-id-value="contact.sex_id" ng-model="contact.sex"  model-ref-type="sex" model-ref-resource="contactStaticLabelsResource" edit-form="editForm"></edit-input-select></td>
                <td><div edit-input-text value="contact.mobile_phone_number" edit-form="editForm"></div></td>
                <td><div edit-input-check value="contact.primary_contact" edit-form="editForm"></div></td>
                <td>
                    <div ng-hide="editForm" class="btn-group-vertical btn-group-xs">
                        <button type="button" class="btn btn-primary btn-xs" ng-click="editContact()"><i class="fa fa-edit fa-fw"></i> Edit</button>
                        <button type="button" class="btn btn-warning btn-xs" ng-click="editContact()"><i class="fa fa-trash-o fa-fw"></i> Delete</button>
                    </div>      
                    <div ng-show="editForm" class="btn-group-vertical btn-group-xs">
                        <button type="button" class="btn btn-success btn-xs" ng-click="saveContact()"><i class="fa fa-save fa-fw"></i> Save</button>
                        <button type="button" class="btn btn-default btn-xs" ng-click="cancelEditContact()"><i class="fa fa-ban fa-fw"></i>Cancel</button>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <div ng-hide="contactsLazyloadFactory.completelyLoaded || contactsLazyloadFactory.busyLoadingContacts">
        <button type="button" class="btn btn-link" ng-click="contactsLazyloadFactory.loadMore()">More...</button>
    </div>
    <div class="panel-body" ng-hide="contactsLazyloadFactory.contacts.length || contactsLazyloadFactory.busyLoadingContacts"><p class="text-muted" >Empty</p></div>
    <div class="panel-footer" ng-show="contactsLazyloadFactory.busyLoadingContacts"><i class="fa fa-refresh fa-spin"></i> Loading...</div>
</div>