<div>
	<table class="table">
		<thead>
			<th>Email</th>
			<th>Group</th>
			<th>Actions</th>
		</thead>
		<tbody>
			<tr ng-repeat="user in users">
				<td>{{user.email}}</td>
				<td>
					<select ng-model="user.group" ng-options="group.name for group in groups" class="form-control">
						<option value="">--choose a group--</option>
					</select>
				</td>
				<td class="btn-group">
					<button class="btn btn-success" ng-click="editUser(user)">Save</button>
					<button class="btn btn-warning" ng-click="deleteUser(user)">Delete</button>
				</td>
			</tr>
		</tbody>
	</table>
</div>