<div>
	<table class="table">
		<thead>
			<th>Email</th>
			<th>Group</th>
			<th>Actions</th>
		</thead>
		<tbody>
			<tr ng-repeat="user in users" class="repeat-animation" ng-controller="UserCtrl">
				<td>{{user.email}}</td>
				<td>
					<div ng-hide="editForm">
					</div>
					<div ng-show="editForm">
						<div ng-repeat="group in user.groups">group</div>
					</div>
					<div ng-repeat="group in groups">
						<edit-input-check 
					</div>
				</td>
				<td class="btn-group">
					<div ng-hide="editForm">
                        <button type="button" class="btn btn-primary btn-xs" ng-click="editUser()"><i class="fa fa-edit fa-fw"></i> Edit</button>
                    </div>
                    <div ng-show="editForm" class="btn-group">
                        <button type="button" class="btn btn-success btn-xs" ng-click="saveEditUser()"><i class="fa fa-save fa-fw"></i> Save</button>
                        <button type="button" class="btn btn-default btn-xs" ng-click="cancelEditUser()"><i class="fa fa-ban fa-fw"></i>Cancel</button>
                    </div>      
				</td>
			</tr>
		</tbody>
	</table>
</div>