<div class="panel panel-primary">
    <div class="panel-heading">New Event</div>
    <div class="panel-body">
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Client</th>
                    <th>Department</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <input class="form-control input-sm" ng-model="new_globalevent.label" />
                    </td>
                    <td>
                        <select ui-select2 ng-model="new_globalevent.client_id" data-placeholder="Pick an client" ng-change="updateClient(new_globalevent)">
                            <option value=""></option>
                            <option ng-repeat="client in clients" value="{{client.id}}">{{client.name}}</option>
                        </select>
                    </td>
                    <td>
                        <select ui-select2 ng-model="new_globalevent.client_department_id" data-placeholder="Pick a department">
                            <option value=""></option>
                            <option ng-repeat="client_department in client_departments | filter: {client_id: new_globalevent.client_id}" value="{{client_department.id}}">{{client_department.label}}</option>
                        </select>
                    </td>
                    <td>
                        <div class="btn-group btn-group-sm">
                            <button type="button" class="btn btn-success" ng-click="createNewGlobalevent()"><i class="fa fa-save fa-fw"></i> Save</button>
                            <button type="button" class="btn btn-default" ng-click="cancelNewGlobalevent()"><i class="fa fa-ban fa-fw"></i>Cancel</button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
