<div>
    <div class="page-header">
        <h2>
            Events
            <button type="button" class="btn btn-primary btn-sm" ng-click="newGlobalevent()"><i class="fa fa-plus fa-fw"></i> New</button>
        </h2>
        <p class="text-muted">{{globaleventsLazyloadFactory.total}} events</p>
    </div>
    <div>
        <div ng-repeat="alert in alerts" class="alert {{alert.type}} alert-dismissable repeat-animation">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            {{alert.message}}
        </div>
    </div>
    <div ng-show="showNewForm" class="show-hide-animation" ng-include src="globaleventNewTemplate">
    </div>
    <table class="table table-hover" infinite-scroll='globaleventsLazyloadFactory.loadMore()' infinite-scroll-disabled='globaleventsLazyloadFactory.busyLoadingEvents' infinite-scroll-distance='1'>
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Client</th>
                <th>Department</th>
                <th>Start date</th>
                <th>End date</th>
                <th>Actions</th>
                <th><i class="fa fa-list"></i> Sublists</th>
            </tr>
        </thead>
        <tbody ng-repeat="globalevent in globaleventsLazyloadFactory.globalevents" class="repeat-animation" ng-controller='GlobaleventCtrl'>
            <tr ng-include src="globaleventTemplate">
            </tr>
            <tr style="border: none;">
                <td colspan="7" style="border: none; padding: 0px;">
                    <div ng-show="openGlobaleventPeriods" class="show-hide-animation" ng-include src="globaleventPeriodsListTemplate"></div>
                </td>
            </tr>
        </tbody>
    </table>
    <div ng-show="globaleventsLazyloadFactory.busyLoadingGlobalevents"><i class="fa fa-spinner fa-spin fa-2x"></i> Loading...</div>
</div>
