<div class="panel panel-primary">
    <div class="panel-heading">New Event</div>
    <div class="panel-body">
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Department</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <input class="form-control input-sm" ng-model="new_globalevent.label" />
                    </td>
                    <td>
                        <select ng-model="new_globalevent.client_department_id">
                            <optgroup label= "{{client.name}}" ng-repeat="client in client_departments">
                                <option value="{{client_department.id}}" ng-repeat="client_department in client.client_department">{{client_department.label}}</option>
                            </optgroup>
                        </select>
                    <td>
                    <td>
                        <div class="btn-group btn-group-sm">
                            <button type="button" class="btn btn-success" ng-click="createNewGlobalevent()"><i class="fa fa-save fa-fw"></i> Save</button>
                            <button type="button" class="btn btn-default" ng-click="cancelNewGlobalevent()"><i class="fa fa-ban fa-fw"></i>Cancel</button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
