<td>{{globalevent.id}}</td>
<td>
    <input type="text" class="form-control input-sm" ng-model="globalevent.label" placeholder="event's name" />
</td>
<td colspan="2">
    <select ng-model="globalevent.client_department_id">
        <optgroup label= "{{client.name}}" ng-repeat="client in client_departments">
            <option value="{{client_department.id}}" ng-repeat="client_department in client.client_department">{{client_department.label}}</option>
        </optgroup>
    </select>
<td>
<td colspan="1">&nbsp;</td>
<td>
	<div class="btn-group btn-group-sm">
	    <button type="button" class="btn btn-success" ng-click="saveGlobalevent()"><i class="fa fa-save fa-fw"></i> Save</button>
	    <button type="button" class="btn btn-default" ng-click="cancelEditGlobalevent()"><i class="fa fa-ban fa-fw"></i>Cancel</button>
    </div>
</td>
<td>
	<div class="btn-group btn-group-sm">
	    <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#collapseGlobaleventPeriod{{globalevent.id}}" ng-click="loadGlobaleventPeriods()"><i class="fa fa-calendar"></i> event periods</button>
	    <button type="button" class="btn btn-info" ng-click="openAssignments()"><i class="fa fa-user"></i> Assignments</button>
    </div>
</td>
