<td>{{globalevent.id}}</td>
<td>{{globalevent.label}}</td>
<td>{{globalevent.client_name}}</td>
<td>{{globalevent.client_department_label}}</td>
<td>{{globalevent.start_datetime}}</td>
<td>{{globalevent.end_datetime}}</td>
<td>
    <div class="btn-group btn-group-sm">
        <button type="button" class="btn btn-primary" ng-click="editGlobalevent()"><i class="fa fa-edit fa-fw"></i> Edit</button>
        <button type="button" class="btn btn-danger" ng-click="deleteGlobalevent()"><i class="fa fa-trash-o fa-fw"></i> Delete</button>
    </div>
</td>
<td>
    <div class="btn-group btn-group-sm">
        <button type="button" class="btn btn-info" ng-click="loadGlobaleventPeriods()"><i class="fa fa-calendar"></i> Event periods</button>
        <button type="button" class="btn btn-info" ng-click="openAssignments()"><i class="fa fa-user"></i> Assignments</button>
    </div>
</td>
