<div class="modal-header">
    <h1>Contact</h1>
</div>
<table class="table-modal-body">	
	<tr>
		<td>Title : </td>
		<td><select ng-model="formContact.title"  ng-options="title.label for title in contactTitleList" required></select></td>
	</tr>
	<tr>
		<td>First Name : </td>
		<td><input ng-model="formContact.first_name" /></td>
	</tr>
	<tr>
		<td>Last Name : </td>
		<td><input ng-model="formContact.last_name" /></td>
	</tr>
	<tr>
		<td>Sex : </td>
		<td><select ng-model="formContact.sex" ng-options="sex.label for sex in contactSexList" required></select></td>
	</tr>
	<tr>
		<td>Mobile Phone : </td>
		<td><input ng-model="formContact.mobile_phone_number" /></td>
	</tr>
	<tr>
		<td>Primary Contact : </td>
		<td><input type="checkbox" ng-checked="formContact.primary_contact" ng-model="formContact.primary_contact" /></td>
	</tr>
</table>
<div class="modal-footer">
	<button ng-click="saveDialog(formContact)" class="btn btn-primary">Save</button>
    <button ng-click="closeDialog()" class="btn btn-primary" >Close</button>
</div>