<div>
    <div class="modal-header">
        {{globalevent.label}}'s Assignments
    </div>
    <div class="modal-body">
        <div ng-include src="'views/employees/employeesSearch.html'"></div>
        <div ng-show="displayList" class="panel">
            <div class="panel-heading">
                <p class="text-muted" ng-show="(employeesSearchLazyloadFactory.total+1) && !employeesSearchLazyloadFactory.busyLoadingEmployees">{{employeesSearchLazyloadFactory.total}} employee(s) found</p>
            </div>
            <table class="table">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>IC</th>
                        <th>Age</th>
                        <th>Assign to</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="employee in employeesSearchLazyloadFactory.employees" ng-controller="EmployeeAssignmentsCtrl">
                        <td>{{employee.id}}</td>
                        <td>{{employee.title_label}} {{employee.first_name}} {{employee.last_name}}</td>
                        <td>{{employee.identity_doc_number}}</td>
                        <td>{{employee.age}}</td>
                        <td>
                            <ul class="list-unstyled">
                                <li ng-repeat="possibleGlobaleventPeriod in globalevent.globalevent_period" class="repeat-animation">
                                    <a ng-show="employee[possibleGlobaleventPeriod.id] == ''" class="label label-primary" ng-click="assign(possibleGlobaleventPeriod.id)">
                                        {{possibleGlobaleventPeriod.id}} : {{possibleGlobaleventPeriod.start_datetime}} -> {{possibleGlobaleventPeriod.end_datetime}}
                                    </a>
                                    <span ng-hide="employee[possibleGlobaleventPeriod.id] == ''" class="label label-danger">
                                        {{possibleGlobaleventPeriod.id}} : {{possibleGlobaleventPeriod.start_datetime}} -> {{possibleGlobaleventPeriod.end_datetime}}
                                    </span>
                                </li>
                            </ul>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div ng-hide="employeesSearchLazyloadFactory.completelyLoaded || employeesSearchLazyloadFactory.busyLoadingEmployees">
                <button type="button" class="btn btn-link" ng-click="employeesSearchLazyloadFactory.loadMore()">More...</button>
            </div>
            <div ng-show="employeesSearchLazyloadFactory.busyLoadingEmployees"><i class="fa fa-spinner fa-spin"></i> Loading...</div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-default" ng-click="cancel()">Back to events</button>
    </div>
</div>
