<td class="col-md-1">{{client.name}}</td>
<td class="col-md-1">{{client.address}}</td>
<td class="col-md-1">{{client.city}}</td>
<td class="col-md-1">{{client.postcode}}</td>
<td class="col-md-2">{{client.country_code}}</td>
<td class="col-md-1">{{client.phone_number}}</td>
<td class="col-md-1">
	<div  class="btn-group btn-group-sm">
	    <button type="button" class="btn btn-primary" ng-click="editClient()"><i class="fa fa-edit fa-fw"></i> </button>
	    <button type="button" class="btn btn-danger" ng-click="deleteClient()"><i class="fa fa-trash-o fa-fw"></i> </button>
    </div>
</td>
<td class="col-md-1">
	<div class="btn-group btn-group-sm">
	    <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#collapseDepartments{{client.id}}" ng-click="loadDepartments()"><i class="fa fa-sitemap fa-fw"></i> </button>
	    <!-- whenever the button is clicked, the collapse value (Contacts List Collapse) will be toggled -->
	    <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#collapseContacts{{client.id}}" ng-click="loadContacts()"><i class="fa fa-users fa-fw"></i> </button>
	</div>
</td>
