<td class="col-md-1"><input type="text" class="form-control input-sm" ng-model="client.name" /></td>
<td class="col-md-1"><input type="text" class="form-control input-sm" ng-model="client.address" /></td>
<td class="col-md-1"><input type="text" class="form-control input-sm" ng-model="client.city" /></td>
<td class="col-md-1"><input type="text" class="form-control input-sm" ng-model="client.postcode" /></td>
<td class="col-md-2">
    <label class="sr-only" for="country">Country</label>
    <select class="form-control input-sm" id="country" ng-model="client.country_code" ng-options="country.code as country.label for country in countries"></select>
</td>
<td class="col-md-1"><input type="text" class="form-control input-sm" ng-model="client.phone_number" /></td>
<td class="col-md-1">
	<div class="btn-group btn-group-sm">
	    <button type="button" class="btn btn-success" ng-click="saveClient()"><i class="fa fa-save fa-fw"></i> </button>
	    <button type="button" class="btn btn-default" ng-click="cancelEditClient()"><i class="fa fa-ban fa-fw"></i> </button>
    </div>
</td>
<td class="col-md-1">
    &nbsp;
</td>
