<div>
    <div class="page-header">
        <h2>
            Clients
            <button type="button" class="btn btn-primary btn-sm" ng-click="newClient()"><i class="fa fa-plus fa-fw"></i> New</button>
        </h2>
    </div>
    <div>
        <div ng-repeat="alert in alerts" class="alert {{alert.type}} alert-dismissable repeat-animation">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            {{alert.message}}
        </div>
    </div>
    <div class="panel panel-primary" ng-show="showNew">
        <div class="panel-heading">New Client</div>
        <div class="panel-body">
            <table class="table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Address</th>
                        <th>City</th>
                        <th>PostCode</th>
                        <th>Country</th>
                        <th>Phone</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><input type="text" class="form-control input-sm" ng-model="new_client.name" /></td>
                        <td><input type="text" class="form-control input-sm" ng-model="new_client.address" /></td>
                        <td><input type="text" class="form-control input-sm" ng-model="new_client.city" /></td>
                        <td><input type="text" class="form-control input-sm" ng-model="new_client.postcode" /></td>
                        <td>
                            <select ui-select2 ng-model="new_client.country_code" data-placeholder="Pick a country">
                                <option value=""></option>
                                <option ng-repeat="country in countries" value="{{country.code}}">{{country.label}}</option>
                            </select>
                        </td>
                        <td><input type="text" class="form-control input-sm" ng-model="new_client.phone_number" /></td>
                        <td class="btn-group-vertical btn-group-sm">
                            <button type="button" class="btn btn-success" ng-click="saveNewClient()"><i class="fa fa-save fa-fw"></i> Save</button>
                            <button type="button" class="btn btn-default" ng-click="cancelNewClient()"><i class="fa fa-ban fa-fw"></i>Cancel</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Name</th>
                <th>Address</th>
                <th>City</th>
                <th>PostCode</th>
                <th>Country</th>
                <th>Phone</th>
                <th>Actions</th>
                <th><i class="fa fa-list"></i> Sublists</th>
            </tr>
        </thead>
        <!-- use ng-repeat to render clients' information rows -->
        <tbody ng-repeat="client in clients" class="repeat-animation" ng-controller="ClientCtrl">
            <!-- information row -->
            <tr ng-include src="clientTemplate"></tr>
            <tr style="border: none;">
                <td colspan="9" style="border: none; padding: 0px;">
                    <div ng-show="openDepartments" class="show-hide-animation" ng-include src="departmentsTemplate"></div>
                </td>
            </tr>
            <!-- contacts row -->
            <tr style="border: none;">
                <td colspan="9" style="border: none; padding: 0px;">
                    <div ng-show="openContacts" class="show-hide-animation" ng-include src="contactsTemplate"></div>
                </td>
            </tr>
        </tbody>
    </table>
    <div ng-show="clientsLazyloadFactory.busyLoadingClients"><i class="fa fa-spinner fa-spin fa-2x"></i> Loading...</div>
</div>
