<div>
    <div class="page-header">
        <h2>
            Events
            <button type="button" class="btn btn-primary btn-sm" ng-click="editEvent()">New</button>
        </h2>
    </div>
    <table class="table table-condensed">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Employer</th>
                <th>Department</th>
                <th>Date</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody ng-repeat="event in events">
            <tr>
                <td>{{event.id}}</td>
                <td>{{event.label}}</td>
                <td>{{(employers | filter: {id: event.employer_id})[0].name}}</td>
                <td>{{(departments | filter:{employer_id:event.employer_id} | filter: {id: event.employer_department_id})[0].label}}</td>
                <td>{{event.date | date:"longDate"}}</td>
                <td class="btn-group">
                    <button type="button" class="btn btn-primary" ng-click="editEvent()">Edit</button>
                    <button type="button" class="btn btn-warning" ng-click="deleteEvent()">Delete</button>
                    <button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#collapseEventPeriod{{event.id}}">Event Period</button>
                    <button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#collapseAssignment{{event.id}}">Assignments</button> 
                </td>
            </tr>
            <tr style="border: none;">
                <td colspan="6" style="border: none; padding: 0px;">
                    <div class="collapse" id="collapseEventPeriod{{event.id}}" ng-include src="'views/events/eventPeriods/eventPeriodsList.html'"></div>
                 </td>
            </tr>        
            <tr style="border: none;">
                <td colspan="6" style="border: none; padding: 0px;">
                    <div class="collapse" id="collapseAssignment{{event.id}}" ng-include src="'views/events/assignments/assignmentsList.html'"></div>
                </td>
            </tr>
        </tbody>
    </table>
</div>