<td>{{event.id}}</td>
<td>
    <input class="form-control input-sm" ng-model="event.label" />
</td>
<td>
    <select ui-select2 ng-model="event.client_id" data-placeholder="Pick an client">
    	<option value=""></option>
    	<option ng-repeat="client in clients" value="{{client.id}}">{{client.name}}</option>
    </select>
</td>
<td>
	<select ui-select2 ng-model="event.client_department_id" data-placeholder="Pick a department">
		<option value=""></option>
		<option ng-repeat="client_department in client_departments | filter: {client_id: event.client_id}" value="{{client_department.id}}">{{client_department.label}}</option>	
	</select>
</td>
<td>
    <input type="date" ng-model="event.date" class="form-control input-sm" />
</td>
<td>
	<div class="btn-group-vertical btn-group-sm">
	    <button type="button" class="btn btn-success" ng-click="saveEvent()"><i class="fa fa-save fa-fw"></i> Save</button>
	    <button type="button" class="btn btn-default" ng-click="cancelEditEvent()"><i class="fa fa-ban fa-fw"></i>Cancel</button>
    </div>
</td>
<td>
	<div class="btn-group-vertical btn-group-sm">
	    <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#collapseEventPeriod{{event.id}}" ng-click="loadEventPeriods()"><i class="fa fa-calendar"></i> Event periods</button>
	    <button type="button" class="btn btn-info" ng-click="openAssignments()"><i class="fa fa-user"></i> Assignments</button> 
    </div>
</td>