<div class="modal-header">
    <h1>Event</h1>
</div>
<table class="table-modal-body">
    <tr>
        <td>Name : </td>
        <td><input ng-model="formEvent.label" required/></td>
    </tr>
    <tr>
        <td>Employer : </td>
        <td>
            <select
                    ng-model="formEvent.employer"
                    name="employer"
                    required
                    ng-options="employer.name for employer in employers"
                    ng-change="employerChange()">
            </select>
        </td>
    </tr>
    <tr>
        <td>Department : </td>
        <td>
            <select
                    ng-model="formEvent.department"
                    name="department"
                    required
                    ng-options="department.label for department in departments">
            </select>
        </td>
    </tr>
    <tr>
        <td>Date : </td>
        <td>
            {{formEvent.date_dateformat | date:'fullDate' }}
            <button ng-click="showCalendar = !showCalendar" class="btn btn-mini"><i class="icon-calendar"></i></button>
            <div ng-show="showCalendar">
                <datepicker ng-model="formEvent.date_dateformat" starting-day="1" show-weeks="0"></datepicker>
            </div>
        </td>        
    </tr>
</table>
<div class="modal-footer">
    <button ng-click="saveEvent()" class="btn btn-primary">Save</button>
    <button ng-click="closeDialog()" class="btn btn-primary">Close</button>
</div>
