<div>
    <div class="page-header">
        <h2>
            Events
            <button type="button" class="btn btn-primary btn-sm" ng-click="newEvent()"><i class="fa fa-plus fa-fw"></i> New</button>
        </h2>
        <p class="text-muted">{{eventsLazyloadFactory.total}} events</p>
    </div>
    <div>
        <div ng-repeat="alert in alerts" class="alert {{alert.type}} alert-dismissable repeat-animation">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            {{alert.message}}
        </div>
    </div>
    <div ng-show="showNew" class="show-hide-animation">
        <div class="panel panel-primary">
            <div class="panel-heading">New Event</div>
            <div class="panel-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Client</th>
                            <th>Department</th>
                            <th>Date</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <input class="form-control input-sm" ng-model="new_event.label" />
                            </td>
                            <td>
                                <select ui-select2 ng-model="new_event.client_id" data-placeholder="Pick an client" ng-change="updateClient()" ng-required="true">
                                    <option value=""></option>
                                    <option ng-repeat="client in clients" value="{{client.id}}">{{client.name}}</option>
                                </select>
                            </td>
                            <td>
                                <select ui-select2 ng-model="new_event.client_department_id" data-placeholder="Pick a department" ng-change="updateDept()" ng-required="true">
                                    <option value=""></option>
                                    <option ng-repeat="client_department in client_departments | filter: {client_id: new_event.client_id}" value="{{client_department.id}}">{{client_department.label}}</option>    
                                </select>
                            </td>
                            <td>
                                <input type="date" ng-model="new_event.date" class="form-control input-sm" />
                            </td>
                            <td>
                                <div class="btn-group-vertical btn-group-sm">
                                    <button type="button" class="btn btn-success" ng-click="createEvent()"><i class="fa fa-save fa-fw"></i> Save</button>
                                    <button type="button" class="btn btn-default" ng-click="cancelNewEvent()"><i class="fa fa-ban fa-fw"></i>Cancel</button>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <table class="table table-hover" infinite-scroll='eventsLazyloadFactory.loadMore()' infinite-scroll-disabled='eventsLazyloadFactory.busyLoadingEvents' infinite-scroll-distance='1'>
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Client</th>
                <th>Department</th>
                <th>Date</th>
                <th>Actions</th>
                <th><i class="fa fa-list"></i> Sublists</th>
            </tr>
        </thead>
        <tbody ng-repeat="event in eventsLazyloadFactory.events" class="repeat-animation" ng-controller='EventCtrl'>
            <tr ng-include src="eventTemplate"></tr>
            <tr style="border: none;">
                <td colspan="7" style="border: none; padding: 0px;">
                    <div ng-show="openEventPeriods" class="show-hide-animation" ng-include src="eventPeriodsTemplate"></div>
                </td>
            </tr>        
        </tbody>
    </table>
    <div ng-show="eventsLazyloadFactory.busyLoadingEvents"><i class="fa fa-spinner fa-spin fa-2x"></i> Loading...</div>
</div>