<div>
    <button type="button" class="btn btn-primary pull-right" ng-click="editEvent()">Add event</button>
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Employer</th>
                <th>Department</th>
                <th>Date</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody ng-repeat="event in events">
            <tr>
                <td>{{event.id}}</td>
                <td>{{event.label}}</td>
                <td>{{(employers | filter: {id: event.employer_id})[0].name}}</td>
                <td>{{(departments | filter:{employer_id:event.employer_id} | filter: {id: event.employer_department_id})[0].label}}</td>
                <td>{{event.date | date:"longDate"}}</td>
                <td class="btn-toolbar">
                    <button type="button" class="btn btn-primary pull-left" ng-click="editEvent()">Edit</button>
                    <button type="button" class="btn btn-primary pull-left" ng-click="deleteEvent()">Delete</button>
                    <button type="button" class="btn btn-primary pull-center" ng-click="eventPeriodsListCollapsed=!eventPeriodsListCollapsed">Event Period</button>
                    <button type="button" class="btn btn-primary pull-center" ng-click="assignmentsListCollapsed=!assignmentsListCollapsed">Assignments</button> 
                </td>
            </tr>
            <tr style="border: none;">
                <td colspan="6" style="border: none; padding: 0px;">
                    <div collapse="eventPeriodsListCollapsed">
                        <div class="well" ng-include src="'views/events/eventPeriods/eventPeriodsList.html'" ng-controller="EventPeriodsCtrl"></div>
                    </div>
                 </td>
            </tr>        
            <tr style="border: none;">
                <td colspan="6" style="border: none; padding: 0px;">
                    <div collapse="assignmentsListCollapsed">
                        <div class="well" ng-include src="'views/events/assignments/assignmentsList.html'" ng-controller="EventsAssignmentsCtrl"></div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>