<div class="panel panel-info accordion" ng-controller="ClientDepartmentsCtrl" id="accordion">
	<div class="panel-heading">
		{{client.name}}'s Departments
		<button type="button" class="btn btn-primary btn-xs" data-toggle="collapse" data-parent="#accordion" data-target="#collapseNewDepartment{{client.id}}" ng-click="newDepartment()"><i class="fa fa-plus fa-fw"></i> New Root</button>
		<div class="pull-right">
			{{departmentTree.currentNode.label}} is selected 
			<div class="btn-group">
				<button type="button" class="btn btn-primary btn-xs {{detailReady}}" data-toggle="collapse" data-parent="#accordion" data-target="#collapseDepartment{{client.id}}" ng-click="showDetail()"><i class="fa fa-info-circle fa-fw"></i> Detail</button>
	            <button type="button" class="btn btn-primary btn-xs dropdown-toggle {{detailReady}}" data-toggle="dropdown">
	                <span class="caret {{detailReady}}"></span>
	                <span class="sr-only">Toggle Dropdown</span>
	            </button>
	            <ul class="dropdown-menu" role="menu">
	                <li ng-click="newDepartment(departmentTree.currentNode.id)" data-toggle="collapse" data-parent="#accordion" data-target="#collapseNewDepartment{{client.id}}"><a><i class="fa fa-plus fa-fw"></i> New Subdepartment</a></li>
	            </ul>
            </div>
		</div>
	</div>
	<div class="panel-body">
		<div class="panel-group">
			<div class="panel panel-primary show-hide-animation" ng-show="showNew">
				<div class="panel-heading">{{departmentTree.currentNode.label}}'s New Subdepartment</div>
				<div class="panel-body">
					<table class="table">
			            <thead>
				            <tr>            
				                <th>Label</th>
				                <th>Description</th>
				                <th>Work Type</th>
				                <th>Employee Hourly Rate</th>
				                <th>Employee Hourly Rate Currency</th>
				                <th>Client Hourly Rate</th>
				                <th>Client Hourly Rate Currency</th>
				                <th>Actions</th>
				            </tr>
			            </thead>
			            <tbody>
			                <tr>
			                    <td><input type="text" class="form-control input-sm" ng-model="new_clientDepartment.label" /></td>
								<td><input type="text" class="form-control input-sm" ng-model="new_clientDepartment.description" /></td>
								<td>
									<select ui-select2 ng-model="new_clientDepartment.work_type_id" data-placeholder="Pick a sex">
								        <option value=""></option>
								        <option ng-repeat="work_type in work_types" value="{{work_type.id}}">{{work_type.label}}</option>
								    </select>
								</td>
								<td><input type="text" class="form-control input-sm" ng-model="new_clientDepartment.employee_h_rate" /></td>
								<td>
									<select ui-select2 ng-model="new_clientDepartment.employee_h_rate_currency_code" data-placeholder="Pick a currency">
								        <option value=""></option>
								        <option ng-repeat="currency in currencies" value="{{currency.code}}">{{currency.label}}</option>
								    </select>
								</td>
								<td><input type="text" class="form-control input-sm" ng-model="new_clientDepartment.client_h_rate" /></td>
								<td>
									<select ui-select2 ng-model="new_clientDepartment.client_h_rate_currency_code" data-placeholder="Pick a currency">
								        <option value=""></option>
								        <option ng-repeat="currency in currencies" value="{{currency.code}}">{{currency.label}}</option>
								    </select>
								</td>
			                    <!-- action buttons -->
			                    <td class="btn-group-vertical btn-group-xs">
		                            <button type="button" class="btn btn-success" ng-click="saveNewClientDepartment()"><i class="fa fa-save fa-fw"></i> Save</button>
		                            <button type="button" class="btn btn-default" ng-click="cancelNewClientDepartment()"><i class="fa fa-ban fa-fw"></i>Cancel</button>
			                    </td>
			                </tr>
			            </tbody>
			        </table>
				</div>
			</div>
			<div class="panel panel-primary show-hide-animation" ng-show="detailShow">
				<div class="panel-heading">{{departmentTree.currentNode.label}}'s Detail</div>
				<div class="panel-body">
					<table class="table">
			            <thead>
				            <tr>            
				                <th>Label</th>
				                <th>Description</th>
				                <th>Work Type</th>
				                <th>Employee Hourly Rate</th>
				                <th>Employee Hourly Rate Currency</th>
				                <th>Client Hourly Rate</th>
				                <th>Client Hourly Rate Currency</th>
				                <th>Actions</th>
				            </tr>
			            </thead>
			            <tbody>
			                <tr ng-include src="clientDepartmentTemplate"></tr>
			            </tbody>
			        </table>
				</div>
			</div>
		</div>
		<!--
		<div
		    data-angular-treeview="true"
		    data-tree-id="departmentTree"
		    data-tree-model="clientDepartments"
		    data-node-id="id"
		    data-node-label="label"
		    data-node-children="children">
		</div>
		-->
		<ul style="list-style-type:none">
			<li ng-repeat="clientDepartment in clientDepartments | filter:{client_id:client.id, parent_id:null}" ng-include="'views/clients/departments/departmentItem.html'" ng-controller="ClientDepartmentCtrl"></li>
		</ul>
		<div class="panel-body" ng-hide="clientDepartments.length"><p class="text-muted" >Empty</p></div>
	</div>
</div>