<td>{{selectedDepartment.label}}</td>
<td>{{selectedDepartment.description}}</td>
<td>{{selectedDepartment.work_type_id}}</td>
<td>{{selectedDepartment.employee_h_rate}}</td>
<td>{{selectedDepartment.employee_h_rate_currency_code}}</td>
<td>{{selectedDepartment.client_h_rate}}</td>
<td>{{selectedDepartment.client_h_rate_currency_code}}</td>
<!-- action buttons -->
<td class="btn-group-vertical btn-group-xs">
    <button type="button" class="btn btn-primary" ng-click="editDepartment()"><i class="fa fa-edit fa-fw"></i> Edit</button>
    <button type="button" class="btn btn-danger" ng-click="deleteDepartment()"><i class="fa fa-trash-o fa-fw"></i> Delete</button>
</td>