<div ng-show="assignedEmployeesLazyloadFactory.assignedEmployees.length">
    <table class="table-striped table-bordered table-condensed">
        <thead>
            <tr>
                <th>&nbsp;</th>
                <th>Id</th>
                <th>Name</th>
                <th>IC</th>
                <th>Age</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="assignedEmployee in assignedEmployeesLazyloadFactory.assignedEmployees" class="repeat-animation" ng-controller="GlobaleventPeriodEmployeeCtrl">
                <td><button type="button" class="btn btn-danger btn-xs" ng-click="unassignEmployee()"><i class="fa fa-trash-o fa-fw"></i> </button></td>
                <td>{{assignedEmployee.id}}</td>
                <td>{{assignedEmployee.title_label}} {{assignedEmployee.first_name}} {{assignedEmployee.last_name}}</td>
                <td>{{assignedEmployee.identity_doc_number}}</td>
                <td>{{assignedEmployee.age}}</td>
            </tr>
        </tbody>
    </table>
    <div ng-hide="assignedEmployeesLazyloadFactory.completelyLoaded || assignedEmployeesLazyloadFactory.busyLoadingAssignedEmployees">
        <button type="button" class="btn btn-link" ng-click="assignedEmployeesLazyloadFactory.loadMore()"> More...</button>
    </div>
    <br/>
</div>
<p ng-hide="assignedEmployeesLazyloadFactory.assignedEmployees.length || assignedEmployeesLazyloadFactory.busyLoadingAssignedEmployees" class="text-muted">Empty</p>
<div ng-show="assignedEmployeesLazyloadFactory.busyLoadingAssignedEmployees"><i class="fa fa-spinner fa-spin"></i> Loading...</div>
