<div class="panel panel-info" ng-controller="GlobaleventPeriodsCtrl">
    <div class="panel-heading">
        {{globalevent.label}}'s globalevent Periods
        <button type="button" class="btn btn-primary btn-xs" ng-click="newGlobaleventPeriod()"><i class="fa fa-plus fa-fw"></i> New</button>
    </div>
    <div class="show-hide-animation" ng-show="showNew">
        <div class="panel panel-primary">
            <div class="panel-heading">New event Period</div>
            <div class="panel-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Start Datetime</th>
                            <th>End Datetime</th>
                            <th>Number of Hours</th>
                            <th>Number of Employees needed</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><edit-input-datetime datetime="new_globaleventPeriod.start_datetime" edit-form="true"></edit-input-datetime></td>
                            <td><edit-input-datetime datetime="new_globaleventPeriod.end_datetime" edit-form="true"></edit-input-datetime></td>
                            <td><edit-input-text value="new_globaleventPeriod.number_of_employee_needed" edit-form="true"></edit-input-text></td>
                            <td>
                                <div class="btn-group-vertical">
                                    <button type="button" class="btn btn-success btn-xs" ng-click="saveNewGlobaleventPeriod()"><i class="fa fa-save fa-fw"></i> Save</button>
                                    <button type="button" class="btn btn-default btn-xs" ng-click="cancelNewGlobaleventPeriod()"><i class="fa fa-ban fa-fw"></i>Cancel</button>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <table class="table" ng-show="globaleventPeriodsLazyloadFactory.globaleventPeriods.length">
        <tr>
            <th>ID</th>
            <th>Start Datetime</th>
            <th>End Datetime</th>
            <th>Number of Hours</th>
            <th>Number of Employees needed</th>
            <th>Actions</th>
            <th><i class="fa fa-list"></i> Sublists</th>
        </tr>
        <tbody ng-repeat="globaleventPeriod in globaleventPeriodsLazyloadFactory.globaleventPeriods" ng-controller='globaleventPeriodCtrl' class="repeat-animation">
            <tr ng-include src="globaleventPeriodTemplate"></tr>
            <tr style="border: none;">
                <td colspan="6" style="border: none; padding: 0px;">
                    <div ng-show="showAssignments" class="show-hide-animation">
                        <div class="well well-sm" ng-include src="'views/globalevents/globaleventPeriods/assignmentsList.html'" ng-controller="EmployeeAssignedCtrl"></div>
                    </div>
                </td>
            </tr>
            -->
        </tbody>
    </table>
    <div ng-hide="globaleventPeriodsLazyloadFactory.completelyLoaded || globaleventPeriodsLazyloadFactory.busyLoadingglobaleventPeriods">
        <button type="button" class="btn btn-link" ng-click="globaleventPeriodsLazyloadFactory.loadMore()">More...</button>
    </div>
    <div class="panel-body" ng-hide="globaleventPeriodsLazyloadFactory.globaleventPeriods.length || globaleventPeriodsLazyloadFactory.busyLoadingglobaleventPeriods">
        <p class="text-muted">Empty</p>
    </div>
    <div class="panel-footer" ng-show="globaleventPeriodsLazyloadFactory.busyLoadingglobaleventPeriods"><i class="fa fa-spinner fa-spin"></i> Loading...</div>
</div>
