<div class="panel panel-info" ng-controller="GlobaleventPeriodsListCtrl">
    <div class="panel-heading">
        {{globalevent.label}}'s globalevent Periods
        <button type="button" class="btn btn-primary btn-xs" ng-click="newGlobaleventPeriod()"><i class="fa fa-plus fa-fw"></i> New</button>
    </div>
    <div class="show-hide-animation" ng-show="showNewForm" ng-include src="globaleventPeriodNewTemplate">
    </div>
    <table class="table" ng-show="globaleventPeriodsLazyloadFactory.globalevent_periods.length">
        <tr>
            <th>ID</th>
            <th>Start Datetime</th>
            <th>End Datetime</th>
            <th>Number of Hours</th>
            <th>Number of Employees needed</th>
            <th>Actions</th>
            <th><i class="fa fa-list"></i> Sublists</th>
        </tr>
        <tbody ng-repeat="globalevent_period in globaleventPeriodsLazyloadFactory.globalevent_periods" ng-controller='globaleventPeriodCtrl' class="repeat-animation">
            <tr ng-include src="globaleventPeriodTemplate"></tr>
<!--            <tr style="border: none;">
                <td colspan="6" style="border: none; padding: 0px;">
                    <div ng-show="showAssignments" class="show-hide-animation">
                        <div class="well well-sm" ng-include src="'views/globalevents/globaleventPeriods/assignmentsList.html'" ng-controller="EmployeeAssignedCtrl"></div>
                    </div>
                </td>
            </tr>
            -->
        </tbody>
    </table>
    <div ng-hide="globaleventPeriodsLazyloadFactory.completelyLoaded || globaleventPeriodsLazyloadFactory.busyLoadingglobaleventPeriods">
        <button type="button" class="btn btn-link" ng-click="globaleventPeriodsLazyloadFactory.loadMore()">More...</button>
    </div>
    <div class="panel-body" ng-hide="globaleventPeriodsLazyloadFactory.globaleventPeriods.length || globaleventPeriodsLazyloadFactory.busyLoadingglobaleventPeriods">
        <p class="text-muted">Empty</p>
    </div>
    <div class="panel-footer" ng-show="globaleventPeriodsLazyloadFactory.busyLoadingGlobaleventPeriods"><i class="fa fa-spinner fa-spin"></i> Loading...</div>
</div>
