<div class="panel panel-primary">
    <div class="panel-heading">New event Period</div>
    <div class="panel-body">
        <table class="table">
            <thead>
                <tr>
                    <th>Start Datetime</th>
                    <th>End Datetime</th>
                    <th>Number of Employees needed</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><input type="datetime" ng-model="new_globaleventPeriod.start_datetime" value="{{new_globaleventPeriod.start_datetime | stringDate:'yyyy-MM-dd HH:00'}}" /></td>
                    <td><input type="datetime" ng-model="new_globaleventPeriod.end_datetime" /></td>
                    <td><input type="number" ng-model="new_globaleventPeriod.number_of_employee_needed" /></td>
                    <td>
                        <div class="btn-group">
                            <button type="button" class="btn btn-success btn-xs" ng-click="createNewGlobaleventPeriod()"><i class="fa fa-save fa-fw"></i> </button>
                            <button type="button" class="btn btn-default btn-xs" ng-click="cancelNewGlobaleventPeriod()"><i class="fa fa-ban fa-fw"></i> </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
