<td>{{ globalevent_period.id }}</td>
<td>
	<input class="form-control input-sm" type="datetime" ng-model="globalevent_period.start_datetime" required />
</td>
<td>
	<input class="form-control input-sm" type="datetime" ng-model="globalevent_period.end_datetime" required />
</td>
<td>
	&nbsp;
</td>
<td>
	<input name="number_of_employee_needed" class="form-control input-sm" type="number" ng-model="globalevent_period.number_of_employee_needed" ui-validate="" required />
</td>
<td class="btn-group btn-group-xs">
	<button type="button" class="btn btn-success" ng-click="saveGlobaleventPeriod()"><i class="fa fa-save fa-fw"></i> </button>
	<button type="button" class="btn btn-default" ng-click="cancelEditGlobaleventPeriod()"><i class="fa fa-ban fa-fw"></i> </button>
</td>
<td>&nbsp;</td>
