<div>
    <div class="page-header">
        <h2>
            Employers
            <button type="button" class="btn btn-primary btn-sm" ng-click="newEmployer()"><i class="fa fa-plus fa-fw"></i> New</button>
        </h2>
    </div>
    <div>
        <div ng-repeat="alert in alerts" class="alert {{alert.type}} alert-dismissable repeat-animation">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            {{alert.message}}
        </div>
    </div>
    <div class="panel panel-primary collapse" id="collapseNewEmployer">
        <div class="panel-heading">New Employer</div>
        <div class="panel-body">
            <table class="table">
                <tbody>
                    <tr>
                        <td><edit-input-text value="createdEmployer.name" edit-form="newForm"></edit-input-text></td>
                        <td><edit-input-text value="createdEmployer.address" edit-form="newForm"></edit-input-text></td>
                        <td><edit-input-text value="createdEmployer.city" edit-form="newForm"></edit-input-text></td>
                        <td><edit-input-text value="createdEmployer.postcode" edit-form="newForm"></edit-input-text></td>
                        <td><edit-input-select uniq-id-value="createdEmployer.country_code" ng-model="createdEmployer.country"  model-ref-type="country" model-ref-resource="countryIsoLabelsResource" edit-form="newForm"></edit-input-select></td>
                        <td><edit-input-text value="createdEmployer.phone_number" edit-form="newForm"></edit-input-text></td>
                        <td><edit-input-text value="createdEmployer.fax_number" edit-form="newForm"></edit-input-text></td>
                        <td class="btn-group-vertical">
                            <button type="button" class="btn btn-success btn-xs" ng-click="saveNewEmployer()"><i class="fa fa-save fa-fw"></i> Save</button>
                            <button type="button" class="btn btn-default btn-xs" ng-click="cancelNewEmployer()"><i class="fa fa-ban fa-fw"></i>Cancel</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="table-responsive">
        <table class="table table-hover" infinite-scroll='employersLazyloadFactory.loadMore()' infinite-scroll-disabled='employersLazyloadFactory.busyLoadingEmployers' infinite-scroll-distance='1'>
            <thead>
            <tr>
                <th>Name</th>
                <th>Address</th>
                <th>City</th>
                <th>PostCode</th>
                <th>Country</th>
                <th>Phone</th>
                <th>Fax</th>
                <th>Actions</th>
            </tr>
            </thead>
            <!-- use ng-repeat to render employers' information rows -->
            <tbody ng-repeat="employer in employersLazyloadFactory.employers" class="repeat-animation" ng-controller="EmployerCtrl">
                <!-- information row -->
                <tr>
                    <td><edit-input-text value="employer.name" edit-form="editForm"></edit-input-text></td>
                    <td><edit-input-text value="employer.address" edit-form="editForm"></edit-input-text></td>
                    <td><edit-input-text value="employer.city" edit-form="editForm"></edit-input-text></td>
                    <td><edit-input-text value="employer.postcode" edit-form="editForm"></edit-input-text></td>
                    <td><edit-input-select uniq-id-value="employer.country_code" ng-model="employer.country"  model-ref-type="country" model-ref-resource="countryIsoLabelsResource" edit-form="editForm"></edit-input-select></td>
                    <td><edit-input-text value="employer.phone_number" edit-form="editForm"></edit-input-text></td>
                    <td><edit-input-text value="employer.fax_number" edit-form="editForm"></edit-input-text></td>
                    <!-- action buttons -->
                    <td class="btn-group-vertical btn-group-xs">
                        <button ng-hide="editForm" type="button" class="btn btn-primary" ng-click="editEmployer()"><i class="fa fa-edit fa-fw"></i> Edit</button>
                        <button ng-show="editForm" type="button" class="btn btn-success" ng-click="saveEmployer()"><i class="fa fa-save fa-fw"></i> Save</button>
                        <button ng-show="editForm" type="button" class="btn btn-default" ng-click="cancelEditEmployer()"><i class="fa fa-ban fa-fw"></i>Cancel</button>
                        <!-- whenever the button is clicked, the collapse value (Department List Collapse) will be toggled -->
                        <button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#collapseDepartments{{employer.id}}" ng-click="loadDepartments()">Departments</button>
                        <!-- whenever the button is clicked, the collapse value (Contacts List Collapse) will be toggled -->
                        <button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#collapseContacts{{employer.id}}" ng-click="loadContacts()">Contacts</button>
                        <button ng-hide="editForm" type="button" class="btn btn-warning" ng-click="deleteEmployer()"><i class="fa fa-trash-o fa-fw"></i> Delete</button>
                    </td>
                <!-- department row -->
                </tr>
                <tr style="border: none;">
                    <td colspan="8" style="border: none; padding: 0px;">
                        <div ng-show="openDepartments" class="show-hide-animation" ng-include src="departmentsTemplate"></div>
                    </td>
                </tr>
                <!-- contacts row -->
                <tr style="border: none;">
                    <td colspan="8" style="border: none; padding: 0px;">
                        <div ng-show="openContacts" class="show-hide-animation" ng-include src="contactsTemplate"></div>
                    </td>
                </tr>
            </tbody>
        </table>
        <div ng-show="employersLazyloadFactory.busyLoadingEmployers"><i class="fa fa-spinner fa-spin"></i> Loading...</div>
    </div>
</div>
