<div ng-controller="EmployersCtrl">
    <button type="button" class="btn btn-primary pull-right" ng-click="editEmployer()">Add Employer</button>
    <table class="table">
        <thead>
        <tr>
            <th>Name</th>
            <th>Address</th>
            <th>City</th>
            <th>PostCode</th>
            <th>Country</th>
            <th>Phone</th>
            <th>Fax</th>
            <th>Actions</th>
        </tr>
        </thead>
        <!-- use ng-repeat to render employers' information rows -->
        <tbody ng-repeat="employer in employers">
            <!-- information row -->
            <tr>
                <td>{{employer.name}}</td>
                <td>{{employer.address}}</td>
                <td>{{employer.city}}</td>
                <td>{{employer.postcode}}</td>
                <td>{{employer.country_code}}</td>
                <td>{{employer.phone_number}}</td>
                <td>{{employer.fax_number}}</td>
                <!-- action buttons -->
                <td class="btn-toolbar">
                    <button type="button" class="btn btn-primary pull-left" ng-click="editEmployer()">Edit</button>
                    <!-- whenever the button is clicked, the collapse value (Department List Collapse) will be toggled -->
                    <button type="button" class="btn btn-primary pull-center" ng-click="dListCollapsed = !dListCollapsed">Departments</button>
                    <!-- whenever the button is clicked, the collapse value (Contacts List Collapse) will be toggled -->
                    <button type="button" class="btn btn-primary pull-center" ng-click="cListCollapsed = !cListCollapsed">Contacts</button>
                    <button type="button" class="btn btn-primary pull-center" ng-click="deleteEmployer()">Delete</button>                
                </td>
            <!-- department row -->
            </tr>
            <tr style="border: none;">
                <td colspan="8" style="border: none; padding: 0px;">
                    <!-- department collapse content -->
                    <div collapse="dListCollapsed">
                        <div class="well" ng-include src="'views/employers/departments/departmentsList.html'" ng-controller="DepartmentsCtrl"></div> 
                    </div>
                </td>            
            </tr>
            <!-- contacts row -->
            <tr style="border: none;">
                <td colspan="8" style="border: none; padding: 0px;">
                    <!-- contacts collapse content -->
                    <div collapse="cListCollapsed">      
                        <div class="well" ng-include src="'views/employers/contacts/contactsList.html'" ng-controller="ContactsCtrl"></div> 
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>