<div ng-controller="EmployersCtrl">
    <div class="page-header">
        <h2>
            Employers
            <button type="button" class="btn btn-primary btn-sm" ng-click="editEmployer()">New</button>
        </h2>
    </div>
    <table class="table">
        <thead>
        <tr>
            <th>Name</th>
            <th>Address</th>
            <th>City</th>
            <th>PostCode</th>
            <th>Country</th>
            <th>Phone</th>
            <th>Fax</th>
            <th>Actions</th>
        </tr>
        </thead>
        <!-- use ng-repeat to render employers' information rows -->
        <tbody ng-repeat="employer in employers">
            <!-- information row -->
            <tr ng-controller="EmployerCtrl">
                <td><div text-editor value="formEmployer.name" editor="editor"></div></td>
                <td><div text-editor value="formEmployer.address" editor="editor"></div></td>
                <td><div text-editor value="formEmployer.city" editor="editor"></td>
                <td><div text-editor value="formEmployer.postcode" editor="editor"></td>
                <td><div code-editor code="formEmployer.country_code" editor="editor" ng-model-labels="isoLabels['country']"></td>
                <td><div text-editor value="formEmployer.phone_number" editor="editor"></td>
                <td><div text-editor value="formEmployer.fax_number" editor="editor"></td>
                <!-- action buttons -->
                <td ng-switch on="editor" class="btn-toolbar">
                    <div ng-switch-when="disabled" class="btn-group">
                        <button type="button" class="btn btn-primary btn-sm" ng-click="editEmployer()">Edit</button>
                    </div>
                    <div ng-switch-when="enabled" class="btn-group">
                        <button type="button" class="btn btn-success btn-sm" ng-click="saveEmployer()">Save</button>
                        <button type="button" class="btn btn-default btn-sm" ng-click="editEmployer('cancel')">Cancel</button>
                    </div>
                    <div ng-switch-when="enabled" class="btn-group">
                        <button type="button" class="btn btn-danger btn-sm" ng-click="deleteEmployer()">Delete</button>
                    </div>
                    <div class="btn-group">
                        <!-- whenever the button is clicked, the collapse value (Department List Collapse) will be toggled -->
                        <button type="button" class="btn btn-primary btn-sm" data-toggle="collapse" data-target="#collapseDepartments{{employer.id}}">Departments</button>
                        <!-- whenever the button is clicked, the collapse value (Contacts List Collapse) will be toggled -->
                        <button type="button" class="btn btn-primary btn-sm" data-toggle="collapse" data-target="#collapseContacts{{employer.id}}">Contacts</button>
                    </div>
                </td>
            <!-- department row -->
            </tr>
            <tr style="border: none;">
                <td colspan="8" style="border: none; padding: 0px;">
                    <!-- department collapse content -->
                    <div class="collapse" id="collapseDepartments{{employer.id}}" ng-include src="'views/employers/departments/departmentsList.html'"></div>
                </td>
            </tr>
            <!-- contacts row -->
            <tr style="border: none;">
                <td colspan="8" style="border: none; padding: 0px;">
                    <!-- contacts collapse content -->
                    <div class="collapse" id="collapseContacts{{employer.id}}" ng-include src="'views/employers/contacts/contactsList.html'"></div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
