<div>
    <div class="modal-header">
        {{label}}'s Assignments
    </div>
    <div class="modal-body">
        <div ng-include src="'views/employees/employeeSearch.html'"></div>
        <div ng-show="displayList" class="panel">
            <div class="panel-heading">
                <p class="text-muted" ng-show="(employeesSearchLazyloadFactory.total+1) && !employeesSearchLazyloadFactory.busyLoadingEmployees">{{employeesSearchLazyloadFactory.total}} employee(s) found</p>
            </div>
            <table class="table">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Assign to</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="employee in employeesSearchLazyloadFactory.employees">
                        <td>{{employee.id}}</td>
                        <td>{{employee.first_name}} {{employee.last_name}}</td>
                        <td ng-controller="EmployeeEventAssignmentCtrl">
                            <ul class="list-unstyled">
                                <li ng-repeat="possible_globalevent_period in employee.possible_globalevent_periods" class="repeat-animation"><a class="btn btn-link btn-sm" ng-click="assign(possible_globalevent_period.id)">{{possible_globalevent_period.id}} : {{possible_globalevent_period.start_datetime}} -> {{possible_globalevent_period.end_datetime}}</a>
                                </li>
                                <li class="btn btn-link disabled" style="opacity: 100" ng-hide="employee.possible_globalevent_periods.length"><p class="text-muted">No more event period(s) to assign</p></li>
                                <!--
                                <li><a ng-show="(eventsPeriods | filter_event_periods: {globalevent_id: event.id, employee_id: employee.id, all_possible_globalevent_periods: all_possible_globalevent_periods}).length" class="btn btn-warning btn-xs" ng-click="assign_whole_event()">Whole event</a></li>
                                <li class="text-muted" ng-hide="(eventsPeriods | filter_event_periods: {globalevent_id: event.id, employee_id: employee.id, all_possible_globalevent_periods: all_possible_globalevent_periods}).length">No more event period(s) to assign</li>
                                -->
                            </ul>
                        </td>  
                    </tr>
                </tbody>
            </table>
            <div ng-hide="employeesSearchLazyloadFactory.completelyLoaded || employeesSearchLazyloadFactory.busyLoadingEmployees">
                <button type="button" class="btn btn-link" ng-click="employeesSearchLazyloadFactory.loadMore()">More...</button>
            </div>
            <div ng-show="employeesSearchLazyloadFactory.busyLoadingEmployees"><i class="fa fa-refresh fa-spin"></i> Loading...</div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-default" ng-click="cancel()">Cancel</button>
    </div>
</div>