<div id="login" class="hero-unit">
  <h2>Login</h2>
  <h3>Welcome to Sentinel</h3>  
  <alert ng-repeat="alert in alerts" type="alert.type" close="closeAlert()">{{alert.message}}</alert>
  <form ng-submit="login()" class="form-horizontal" name="loginForm">
      <div class="control-group">
        <label class="control-label" for="email">Email</label>
        <div class="controls">
          <input type="text" name="email" placeholder="email" ng-model="credentials.email" required/>
        </div>
      </div>
      
      <div class="control-group">
        <label class="control-label" for="password">Password</label>
        <div class="controls">
          <input type="password" name="password" placeholder="password" ng-model="credentials.password" required/>
        </div>
      </div>

      <div class="control-group">
        <div class="controls">
          <label for="rememberme" class="checkbox">
            <input type="checkbox" ng-model="credentials.rememberme" name="rememberme" />| Remember me
          </label>
        </div>
      </div>

      <div class="control-group">
        <div class="controls">
          <button class="btn" type="submit">Log in</button>
        </div>
      </div>
  </form>
</div>