<!-- Main hero unit for a primary marketing message or call to action -->
<!--
    <div class="col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                What've been done:
            </div>
            <ul class="list-group">
                <li class="list-group-item">New database structure to make your software and data <b>RELIABLE</b></li>
                <li class="list-group-item">Migration of your old data to the new database</li>
                <li class="list-group-item">Implement latest technologies to get a nice new fast presentation layer</li>
                <li class="list-group-item">Implement a strong "backend" to make yourdata available from the wen but also from your tablet and phone</li>
                <li class="list-group-item">Recreate the employee section (edit, create, delete)</li>
                <li class="list-group-item">Recreate the client, departments and contact section (edit, create, delete)</li>
                <li class="list-group-item">Recreate a first alpha version of the event and assignment section (edit, create, delete)</li>
            </ul>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel panel-info">
            <div class="panel-heading">
                What're to be done:
            </div>
            <ul class="list-group">
                <li class="list-group-item">Functionnality: payments (not invoices, which should be delt with in quickbook)</li>
                <li class="list-group-item">Functionnality: searches</li>
                <li class="list-group-item">Functionnality: plugin - extract to quickbook</li>
                <li class="list-group-item">Functionnality: payments (not invoices, which should be delt with in quickbook)</li>
                <li class="list-group-item">Functionnality: plugin - handle CEMAS specific things</li>
                <li class="list-group-item">Functionnality: plugin - handle MBS specific things</li>
                <li class="list-group-item">Functionality: Authentication and right management</li>
                <li class="list-group-item">Polishing: Error handling</li>
                <li class="list-group-item">Polishing: js and php unit tests</li>
                <li class="list-group-item">Optimisation: to make the software very fast</li>
                <li class="list-group-item">Optimisation: the ergonomy of the whole software</li>
                <li class="list-group-item">Architecture: Hosting (beg of september)</li>
            </ul>
        </div>
    </div>
-->
<div class="container">
    <!-- Example row of columns -->
    <div class="row">
        <div class="col-md-4">
            <p><a class="btn btn-default" href="#employees" role="button">Employees</a></p>
            <p>Organize and search among your employees, fast and easy.</p>
        </div>
        <div class="col-md-4">
            <p><a class="btn btn-default" href="#clients" role="button">Clients</a></p>
            <p>Organize the clients, their departments, their contacts...</p>
       </div>
        <div class="col-md-4">
            <p><a class="btn btn-default" href="#events" role="button">Events</a></p>
            <p>Event planification made easy!</p> 
        </div>
    </div>
</div>

<hr>

<div ng-include src="'views/footer.html'"></div>
